@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
}

@keyframes rotate {
  from {
    transform: translate(0%, -50%) scale(1.4);
  }

  to {
    transform: translate(150%, -50%) scale(1.4);
  }
}

.card_flip {
  transform: rotateY(180deg);
}
